{
    white-transparent: rgba(255, 255, 255, 0.8);
    white: rgba(255, 255, 255, 1);
}


.root {
    -fx-background-image: url("bg-pop-up.jpg");
}

.button {
    -fx-font: 12px Arial;
    -fx-text-fill: black;
    -fx-background-color: white-transparent;
    -fx-background-radius: 0;
}


.button:hover {
    -fx-background-color: white;
}

.button:pressed {
    -fx-background-color: whitesmoke;
}


.label {
    -fx-text-fill: white;
}

.check-box {
    selected-box-color: white;
    box-color: white;
    mark-color: black;

    -fx-text-fill: white;
}

.check-box:selected > .box {
    -fx-background-color: selected-box-color;
    -fx-background-radius: 0;
}

.check-box > .box {
    -fx-background-color: box-color;
    -fx-background-radius: 0;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
    -fx-background-color: mark-color;
}